langchain
langchain-community
python-dotenv
sentence_transformers
django
django-tailwind[reload]
pinecone-client
langchain_groq
Markdown
djangorestframework
django-jazzmin
einops
gunicorn
pypdf
cryptography
psycopg2-binary
whitenoise
redis
langchain-redis