{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    {% tailwind_css %}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images\favicon.png' %}"
    />
</head>
<body>
  <div class="container flex items-center justify-center min-h-screen flex-col">
    <h1 class="text-5xl font-bold mb-4">404!</h1>
    <p class="text-xl mb-4">Not Found 😕</p>

    <div class="space-y-4 mt-8">
        <a href="{% url 'home' %}" class="bg-[#001F54] text-white py-2 px-4 rounded-lg">Go to Home</a>
    </div>
  </div>
</body>
</html>